*{
    margin: 0;
    padding: 0;
    font-family: Century ;
}

header
{
  background-image: url(../lambo1.jpg);
  height: 70vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
}
 h1{
  font-family: 'Nosifer';
  color: red;
  float: right;
  margin-right:20px;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  word-spacing: 1em;
}

ul
{
  list-style-type: none;
   float:left;
   margin-top: 65vh;

}


ul li{
  display: inline;
  margin: 3px;
  margin-left: 15px;
}

ul li a{
  text-decoration: none;
  color: #fff;
  padding: 5px 20px ;
  border: 1px #fff solid;
  border-radius: 10px;
  transition: 0.9s ease;
}

ul li a:hover{
  background-color: #fff;
  color: #000;
}

p
{
  color: red;
  border: 1px black solid;
  border-radius: 5px;

}
